<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <h2>Product List</h2>
            <div class ="center">
                <a th:href="@{/product/create}" class="basic-button">Create Product</a>
            </div>

            <div class="table">
                <div class="row header">
                    <div class="cell">Product Name</div>
                    <div class="cell">Quantity</div>
                    <div class="cell">-</div>
                    <div class="cell">-</div>
                </div>

                <div class="row" th:each="product: ${products}">
                    <div class="cell" th:text="${product.productName}" data-title="Product Name"></div>
                    <div class="cell" th:text="${product.productQuantity}" data-title="Quantity"></div>
                    <div class="cell">
                        <a th:href="@{/product/edit/{id}(id=${product.productId})}" class="btn table-button btn-sm">Edit</a>
                    </div>
                    <div>
                        <a th:href="@{/product/delete/{id}(id=${product.productId})}" class="btn delete-button btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
